atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
colorama==0.4.0
cov-core==1.15.0
coverage==4.5.1
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
more-itertools==4.3.0
nose2==0.8.0
passlib==1.7.1
pluggy==0.8.0
py==1.7.0
PyJWT==1.6.4
pytest==3.10.0
six==1.11.0
Werkzeug==0.14.1
